* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 2rem auto;
  /* padding: 0 20px; */

}

.imageSlider {
  position: relative;
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.imageSlider .slide {
  min-width: 100%;
  /* box-sizing: border-box; */
  position: relative;
}

.imageSlider img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.image-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  text-align: center;
}


.image-data h2.text {
  font-size: 60px;
  font-weight: 400;
  color: #d47752;
  margin: 0;
}

.controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.controls button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
}